When I'm not <a href="http://climbingnarc.com">writing</a>, <a href="http://twitter.com/climbingnarc">Tweeting</a> or <a href="http://instagram.com/climbingnarc">Instagramming</a> about rock climbing, I {{#link-to "projects"}}make things on the internet{{/link-to}}...
