<div id="main" role="main">
  <div class="container">
      {{render "navbar"}}
      <div class="row col-xs-12" id="page-content">
        {{outlet}}
      </div>
    </div>
  </div> <!--! end of .container -->
  <footer>
    {{render "footer"}}
  </footer>
</div> <!--! end of #main -->
