<div id="main" role="main">
  <div class="container">
      {{render "navbar"}}
      <div class="row col-xs-12" id="page-content">
        {{outlet}}
      </div>
      <footer>
        {{render "footer"}}
      </footer>
    </div>
  </div> <!--! end of .container -->
</div> <!--! end of #main -->
