<div id="footer">
  <div class="row text-center">
    <a href="http://github.com/Dhaulagiri">
      <img src="https://s3.amazonaws.com/brianrunnells/Octocat.png" alt="Check out the Github" width="300" height="249">
    </a>
  </div>
</div>
