<div class="row text-center">
  <h1>
    {{#link-to 'index'}}Brian...{{/link-to}}
  </h1>
</div>
<div class="row text-center">
  {{#link-to 'projects' tagName="button" classNames="btn btn-primary cancel-button" href=flase}}Projects{{/link-to}}
  {{#link-to 'about' tagName="button" classNames="btn btn-info cancel-button" href=flase}}About{{/link-to}}
</div>
