<div class="row text-center">
  <h1>
    {{#link-to 'index'}}Brian Runnells...{{/link-to}}
  </h1>
</div>
<div class="row text-center">
  {{#link-to 'projects' tagName="button" classNames="btn btn-primary cancel-button" href=false}}Projects{{/link-to}}
  {{#link-to 'about' tagName="button" classNames="btn btn-info cancel-button" href=false}}About{{/link-to}}
</div>
